body {
    background-color: #fbfaf2;
    margin: 0;
}

a, p, div {
    font-family: 'Indie Flower', cursive;
}

.clean-text {
    font-family: 'Acme', sans-serif;
}

// GLOBALS

// IMPORTS
@import "components/topnavigation.scss";
@import "components/footer.scss";

@import "pages/home.scss";