@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Projects>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = "master.cshtml";
}

@Html.Partial("~/Views/Partials/SectionHeader.cshtml")

<h1>@Model.PageTitle</h1>
<p>Hi, I am the projects page, lets display some project here!</p>